[submodule "dotdrop"]
	path = dotdrop
	url = https://github.com/deadc0de6/dotdrop.git
[submodule "dotfiles/spacemacs"]
	path = dotfiles/editors/spacemacs
	url = https://github.com/syl20bnr/spacemacs.git
[submodule "dotfiles/prompt/liquidprompt"]
	path = dotfiles/prompt/liquidprompt
	url = https://github.com/nojhan/liquidprompt.git
